# Игнорировать подкаталог tmp

tmp/

# Игнорировать файлы с суффиксами _old

*_old

# Игнорировать файлы с суффиксами _backup

*_backup

# Игнорировать Thumbs.db

Thumbs.db

# Игнорировать .DS_Store

*.DS_Store
